<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 p-2">
        <div class="card">
            <div class="card-body">
                <p>Welcome,</p>
                <h3 class="text-center display-4">
                    <%= name %>
                </h3>
                <a href="/users/logout" class="btn btn-sm btn-warning text-light">Logout</a>
            </div>
        </div>
    </div>
</div>