<nav class="navbar navbar-expand-md navbar-light m-0">
    <a class="navbar-brand text-warning" href="/">ERC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-warning" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="/preaching">Preaching</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="#">Programmes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid p-0">
    <div class="row p-5 img-pary">
        <div class="col-md-4 col-lg-4 col-sm-12 bg-light p-5">
            <h3 class="text-center display-4">Preachings</h3>
            <p>
                You can see more preachings if you join us or you may go to our youtube channel to view more, but it better to find them here. in our website.
            </p>
            <p class="text-center">
                Join us buy clicking to this
                <a href="/register" class="btn btn-sm btn-warning shadow text-light">sign up</a>
            </p>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-8 bg-light p-5">
            <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list='Traversy Media'" class="img-fluid"></iframe>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0 bg-secondary">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center display-4">Eglise Restoration Church</h3>
            <p class="text-center">
                Eglise Restoration Church
            </p>
        </div>
    </div>
</div>